# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Eclipse project-specific settings
.classpath
.project 
.settings/

# Ignore compiled Java classes
*.class 

